div.v-card {
    background-color: #f8f3f2;
}
div.title {
    color: 	$blue-color ;
    font-size: 16px !important;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif !important;
    line-height: normal;
}
div.authors {
    color: 	$name-color;
    font-size: 15px;
    font-weight: 500;
}
div.source {
    color: 	#6b8d96;
    font-weight: 500;
    font-size: 15px;
}
div.v-card__actions {
    justify-content: flex-end;

    .v-btn {
        background-color: $orange-color;

        .v-icon {
            font-size: 50px;
            color: $orange-color;
        }
    }
}

.v-btn--icon.v-size--default {
    height: 20px;
    width: 20px;
}
.v-btn {
    span {
        font-size: 25px;
        color: #e2890c;
    }
}
