div.container{
    margin: auto;
}

.v-card__title {
    color:  #032539;
    font-family: 'Times New Roman', Times, serif !important;
    @include responsive-font(24, 36)
}

div.text {
    font-size: medium;
    text-align: justify;
    color: rgb(58, 57, 57);  
}

.v-divider {
    border-width: 1px;
    border-color: #4c92a5b6;
}

@media only screen and (min-width: 768px) {
    div.container{
        width: 70%;
    }
}
