img {
    max-width: 100%;
    height: auto;
}

div.plots {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 590px) and (max-width: 959px){
    div.plots {
        flex-direction: row;
    }

    img {
        max-width: 50%;
        height: auto;
        padding: 0.4rem;
    }
}
@media screen and (min-width: 1440px) {
    div.plots {
        max-width: 67%;
    }
}
