@mixin responsive-font($mobileSize, $pcSize) {
    $addSize: $pcSize - $mobileSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobileSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})) !important;
}